@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(AlloyInk-nRLyO.ttf);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

@font-face {
    font-family: alloyInk;
    src: url(AlloyInk-nRLyO.ttf);
}

body {
    background-image: url(img/BackgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.Page1-Full {
    height: 100vh;
    padding: 10vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Page1-Full h1 {
    font-family: alloyInk;
    font-size: 3rem;
    font-weight: 800;
    position: absolute;
    top: 20%;
    left: 18%;
    color: rgb(233, 221, 57);
    background-color: rgba(64, 224, 208, 0.5);
    border: rgba(255, 255, 255, 0.2) solid 1px;
    border-radius: 5px;
    padding: 20px;    
}
.Page1-Full p {
    font-size: 1.2rem;
    position: absolute;
    width: 500px;
    background-color: rgba(54, 190, 177, 0.8);
    border: rgba(255, 255, 255, 0.2) solid 1px;
    border-radius: 5px;
    padding: 20px;
    bottom: 20%;
    right: 15%;
}

.Page-Full {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 10vh 0;
}
.Page-Sections {
    width: 760px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: rgba(43, 156, 145, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
}
.Page-Sections p {
    padding: 10px;
    background-color: rgb(54, 190, 177);
    border: rgba(255, 255, 255, 0.2) solid 3px;
    border-radius: 5px;
    margin-top: -20px;
}
.Page-Sections img {
    height: 350px;
    object-fit: cover;
    border-radius: 3px;
}
.Page-Section1 {
    margin-left: 5%;
    margin-right: 1%;
}
.Page-Section2 {
    margin-right: 5%;
    margin-left: 1%;
}

@media only screen and (max-width: 800px) {
    .Page1-Full {
        height: 100vh;
        flex-direction: column;
    }
    .Page1-Full h1 {
        position: inherit;
        margin-bottom: -10px;
        z-index: 10;
    }
    .Page1-Full p {
        position: inherit;
        width: 80%;
        margin-top: -10px;
        order: 3;
    }
    .Page1-Full img {
        width: 100%;
    }

    .Page-Full {
        flex-direction: column;
        padding: 0;
        height: inherit;
    }
    .Page-Sections {
        width: 90%;
        margin: 0;
        margin: 20vh 0;
    }
    #Last-Section {
        margin-bottom: 25vh;
    }
}

@media only screen and (min-width: 800px) {
    .Page1-Full h1 {
        font-size: 100px;
    }
    .Page1-Full p {
        font-size: 24px;
    }
    .Page-Full p {
        font-size: 24px;
    }
}